# Ignore temporary files and cache
temp/**
/logs/* 
!/logs/.gitkeep

# Ignore Composer dependencies
/vendor/

# Ignore environment configuration files
/.env
/.env.local

# Ignore IDE specific files
.idea/
/.vscode/
/nbproject/

# Ignore system files
.DS_Store
Thumbs.db

style.html
