# Ignore Composer dependencies
/vendor/
/composer.lock

# Ignore environment configuration files
/.env
/.env.local

# Ignore IDE specific files
.idea/
/.vscode/
/nbproject/

# Ignore system files
.DS_Store
Thumbs.db
