services:
	- App\Core\RouterFactory::createRouter
	- App\Model\UserAuthenticator
	- App\Model\UserService
	- App\Model\UserErrorMessages

search:
	-	in: %appDir%
		classes:
			- *Factory
			- *Facade

session:
    expiration: 14 days
    autoStart: true
