<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{block title}{/block}</title>
    {* Favicon *}
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    {* Bootstrap icons *}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    {* Core theme CSS (includes Bootstrap) *}
    <link href="/css/styles.css" rel="stylesheet" />
    {* Font *}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  </head>

  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
          <a class="navbar-brand">User Administration</a>
        </div>

        
        {if $user->loggedIn}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"
              n:href="Signup:create"
              style="color: white; white-space: nowrap">
              Create new user</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
              n:href="Dashboard:dashboard"
              style="color: #55d610; padding-left: 2rem; padding-right: 2rem">
              Dashboard</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
              n:href="Dashboard:logout"
              style="color: white; padding-right: 2rem">
              Logout</a>
          </li>
        </ul>
        {/if}
      </nav>
    </main>

  {block content} {/block}

  </body>

  <footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="col-auto">
          <div class="small m-0 text-white">
            Copyright &copy; User Administration 2024
          </div>
        </div>
      </div>
    </div>
  </footer>

  {* Bootstrap core JS *}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  {* Core theme JS *}
  <script src="js/scripts.js"></script>
</html>
